
button {
    text-align: center;
    width: 300px;
    height: 80px;
    font-family: Roboto, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 24px;
    background-color: #299c9c;
}

button:hover {
    background-color: #a2eee8;
    color: #137070;
}

