body{
    font-family: "nunito";
    margin: 0%;
}
:root{
    --white: #ffffff;
    --black:#000000;
    --light-purple:#6f2cff;
    --blue-heart:#acd982;
    --sm:14px;
    --md:20px;
    --lg:60px;

}
.main{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--white);
}

.brochure{
    display: grid;
    grid-template-rows: auto 1fr auto  ;
    width: 100%;
    justify-items: center;
    background-color: var(--white);
}
.title{
    color: var(--black);
    text-align: center;
    font-size: var(--lg);
}
.subtitle{
    color: var(--black);
    text-align: center;
    font-size: var(--md);
    margin: 5px;
}
.primary-button{
    background-color: var(#2cff48);
    color: var(--black);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: var(--md);
    cursor: pointer;
    margin: 100px 0 100px 0;


}

.more-info{
    display: grid;
    background-color: var(--light-purple);
    width: 100%;
}
.card-container{
    display:flex;
    flex-direction: row;
   
    margin: 16px 0 16px 0;
    align-items: center;

}
.icons-container{

        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 50px 260px 50pxd 260px;
        justify-content: center;
        align-content: space-between;

}
.card-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 28px;
}
.card-icon figure img{
    width: 50px;
    height: 50px;
}
.icon-text h2{
    font-size: var(--sm);
    margin: 0;
}
.icon-text p{
    font-size: var(--sm);
    margin: 0;
}

@media(max-whidth: 720px){
    .icons-container{
        grid-template-columns: repeat(1,1fr);
        margin: 50px 10px 50px 10px;
    }
}
@media(max-whidth: 720px){
    p{
        color: #2cff48;
    }

}
