body {
    background-color: #a8b5c5;
}
h2{
    color:#a052c4 ;
}
h1 {
    color: #a052c4;
    font-size: 25px;
    font-family: 'Segoe UI';
    
    

    text-align: center;
}
p {
    font-size: large;
    text-align: center;
    font-weight: bold;
    color:rgb(16, 45, 85);
}
img{
    max-width: 25%;
    max-height: 25%;
    text-align: center;
}
ol li {
    font-size: 30px;
    color: blueviolet;
    background-color: #dcf539;
}
ul li {
    color: green;
    font-weight: bold;
    background-color: #dcf539;
    text-align: center;
}

.enviar{
    border-radius: 16px;
    background-color: #019201da;
    color: #fff5e9;    
    
}
label{
    font-size: 20px;
   

}
input[type=submit]{
    margin-top: 9px;
}
input[type=submit]:hover{
    background-color: #0ed1a7;

}
.etiqueta{
    background-color: #e49191;
    
}